input,
button {
  border: none;
  padding: 0;
  background: none;
  display: inline-block;
  font-family: Inter, sans-serif;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
ol {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

body {
  background: #E7F6FF;
  font-family: Inter, sans-serif;
}


.wrapper {

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.header {
  border-bottom: 1px solid #EAEAEA;


  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  &__left {}

  &__right {}
}

.content {
  &__title {
    margin: 0;
    font-weight: 700;
  }
}

.sneakers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.product-card {
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  padding: 30px;
  width: 210px;
  transform: translateY(0px) scale(1);
  transition: box-shadow .25s ease-in-out, transform .25s ease-in-out;


  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transition: box-shadow .25s ease-in-out, transform .25s ease-in-out;
    transform: translateY(-20px) scale(1.1);
  }

  &__img {
    margin-bottom: 15px;
    margin: 0 auto;
  }

  &__title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 14px;
  }

  &-price {

    &__desc {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      color: #BDBDBD;
    }

    &__amount {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }


  }

  &__tocart {
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    padding: 10px;
    width: 32px;
    height: 32px;


    &-img {}
  }
}

.search-block {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  &__img {
    margin-right: 15px;
  }

  &__input {
    font-size: 16px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.cart {
  position: absolute;
  right: 0;
  width: 385px;
  height: 100%;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

  }

  &-items {
    flex: 1;
    overflow: auto;
  }

  &-item {
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

    &__img {
      margin-right: 21px;
    }


    &__desc {
      margin-right: 12px;
    }

    &__name {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }

    &__price {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }

    &__btn {
      border: 1px solid #DBDBDB;
      border-radius: 8px;
      padding: 10px;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity .3s ease-in-out, transform .25s ease-in-out;
      transform: scale(1);

      & svg path {
        fill: #B5B5B5;
      }

      &:hover {
        opacity: 1;
        transition: opacity .3s ease-in-out, transform .25s ease-in-out;
        transform: scale(1.1);
      }

      &-img {
        transform: rotate(45deg);
      }
    }


  }

  &-bottom {

    &-list {

      &__item {}


    }

    &__title {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-right: 8px;
    }

    &__dashed {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #DFDFDF;
      margin-right: 8px;
    }

    &__value {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;

    }

    &__btn {
      background: #9DD558;
      border-radius: 18px;
      width: 100%;
      position: relative;
      padding-top: 18px;
      padding-bottom: 18px;
      color: #fff;
      cursor: pointer;

      &:hover {
        background: #a1d85e;

        & .cart-bottom__btn-arrow {

            transform: translateY(-50%) translateX(10px);
        }
      }

      &-arrow {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%) translateX(0px);
        transition: all .3s ease-in-out;
      }
    }
  }

}